/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
  width : 100%;
}
.leftPart {
  float: left; 
  width: 100%;
}
.rightPart {
  float: left; 
  width: 40%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.center { 
  width: 80%;
  height: 80%;
  position: fixed;
  top: 10%; 
  left: 10%;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  max-height: 100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  animation-name: animatetop;
  animation-duration: 0.4s
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

@keyframes animatetop {
  from {top: -500px; opacity: 0.1}
  to {top: 0; opacity: 1}
}

.newFieldBtn {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 20%;
  right: 40%;
  left: 40%;
  margin: 10px;
  display: none;
}

.bottomModalBtn {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  margin: 10px;
}

.btn {
  background-color: #fefefe;
  color: #444;
}

.btn:hover {
  background-color: #e41270;
  color: #AAA;
}


.btn:focus {
  background-color: #13235B;
}

/* The bottomModal (background) */
.bottomModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* bottomModal Content */
.bottomModal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  max-height: 80%;
  overflow: auto; /* Enable scroll if needed */
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

.bottomModal-header {
  padding: 2px 10px;
}

.bottomModal-body {padding: 2px 40px;}

.bottomModal-footer {
  padding: 2px 10px;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

.mapLogo {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  right: 0;
  bottom: 0;
  margin: 60px;
  margin-bottom: 25px;
  width: 200px;
}