<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpaceSenseMap</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmSsyzbpb_hvX_gOKwy6NixoFtQ8CkwmA&libraries=drawing&callback=initMap">
    </script>
    
    <link rel="stylesheet" href="/static/materialize.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="map" class= "leftPart"></div>
    <img src="static/img/LOGO.png" class="mapLogo"></img>
    <button id="newFieldBtn" class="btn newFieldBtn"><b>ADD THIS FIELD</b></button>
    <div id="newFieldModal" class="modal">
      <div class="modal-content">
        <h4>Add New Field</h4>
        <form action="/addField" method="POST" id="form" class="form">
          <table>
            <tbody>
              <tr hidden>
                <td >TOKEN</td>
                <td id="formToken">
                  <textarea rows = "4" cols = "40" id="token" name="token" required readonly>{{token}}</textarea>
                </td>
              </tr>
              <tr>
                <td>FIELD NAME</td>
                <td id="formLabel"><input type="text" id="name" name="name" required></td>
              </tr>
              <tr hidden>
                  <td>SHAPE</td>
                  <td id="formShape">
                    <textarea rows = "8" cols = "40" id="shape" name="shape" required readonly>
  
                    </textarea>
                  </td>
              </tr>
              <tr>
                  <td>LABEL</td>
                  <td id="formLabel"><input type="text" id="label" name="label" placeholder="NDVI,CustomFieldCategory" required></td>
              </tr>
            </tbody>
          </table>
        </form>
        <div class="modal-footer">
          <button id="submit" class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
          <button id="close" class="btn" class="close" name="cancel">Cancel</button>
        </div>
        
      </div>
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div id="returnModal" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <ul class=flashes>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <script>
          // Get the <span> element that closes the modal
          var span = document.getElementsByClassName("close")[0];
          // Get the modal element
          var returnModal = document.getElementById("returnModal");
          // display the modal element
          returnModal.style.display = "block";
          // When the user clicks on <span> (x), close the modal
          span.onclick = function() {
            returnModal.style.display = "none";
          }
          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
            if (event.target == returnModal) {
              returnModal.style.display = "none";
            }
          }
        </script>
      {% endif %}
    {% endwith %}
    <button id="bottomModalBtn" class="btn bottomModalBtn"><b>Field List</b></button>
    <div id="bottomModal" class="bottomModal">
      <!-- bottomModal content -->
      <div class="bottomModal-content">
        <div class="modal-header bottomModal-header">
          <span id="closeBottomModal" class="close">&times;</span>
          <h2>Field List</h2>
        </div>
        <div id="fieldList" class="modal-body bottomModal-body">
          <table class="myTable">
            <thead>
              <tr>
                <th scope="col">Field Name</th>
                <th scope="col">Area (ha)</th>
                <th scope="col">Labels</th>
                <th scope="col"></th>
              </tr>      
            </thead>
            <tbody>
    
            </tbody>
          </table>
        </div>
        <!-- <div class="modal-footer bottomModal-footer">
          <h3>bottomModal Footer</h3>
        </div> -->
      </div>
    </div>
    <script src="/static/jquery.js"></script>
    <script src="/static/scripts.js" charset="utf-8"></script>
    <script>
      $.ajax({url: "/listFields?token={{token}}",
      success: function(result){
          if (result["[fields,area(ha),labels]"]) {
            jQuery.each(result["[fields,area(ha),labels]"], function (i, val) {
              $('.myTable').append(
                  '<tr id ="'+val[0]+'">'+
                    '<td id="fieldName">'+val[0]+'</td>' +
                    '<td id="area">'+val[1]+'</td>' +
                    '<td id="labels">'+val[2]+'</td>' +
                    '<td id="delete"><button id="downloadFilesBtn" name='+val[0]+' class="waves-effect waves-light btn grey download">Download Files</button></td>'+
                    '<td id="delete"><button id="deleteFieldBtn" name='+val[0]+' class="waves-effect waves-light btn red delete">Delete</button></td>'+
                  '</tr>');
            });
          }
          $(".delete").on("click", function(){
            const fieldName = $(this).attr('name');
            $.ajax({url: "/deleteField?token={{token}}&fieldName="+fieldName,
            success: function(result){
               console.log(result);
               $("#"+fieldName+"").empty();
            }});
          });
          $(".download").on("click", function(){
            const fieldName = $(this).attr('name');
            $.ajax({url: "/listFiles?token={{token}}&fieldName="+fieldName,
            success: function(result){
               console.log(result);
            }});
          });
        }});

      
    </script>
</body>
</html>