<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpaceSenseMap</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <iframe src="/map?token={{token}}" class="center" width="100%" height="100%"></iframe>
</body>
</html>